src/templates/default.jade
doctype html
html(ng-app="BlogApp")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
    script(src="https://code.angularjs.org/1.2.20/angular-route.js")
    script(src="https://code.angularjs.org/1.2.13/angular-cookies.js")
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js')
    script(src="app.js")
    title ACN Blog
    body
    .header
     h1.page-title
      | <a href="/">ACCENTURE CFC BLOG</a>
      p
       | <a href="/">Blogging about recent news and events in the cyber-space</a>

    ul.navigator
      li: a(href='/') Home
      li: a(href='/post') Post
      li: a(href='#About') Calendar
      li: a(href='#Contact') Contact
    
    .main-content
      block content
      //div(class="ng-view")
    script(src="blogcontroller.js")
    script(src="modules/authentication/services.js")
    script(src="modules/authentication/controllers.js")
    script(src="modules/post/controllers.js")

    .footer
      include footer
      

default.html
<!DOCTYPE html>
<html ng-app="BlogApp">
<head>
  <base href="/">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.2.20/angular-route.js"></script>
  <script src="https://code.angularjs.org/1.4.0/angular-cookies.js"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js">
  <script src="app.js"></script>
  <title>ACN Blog</title>
</head>
<body>
  <div class="header">
    <h1 class="page-title"><a href="/">ACCENTURE CFC BLOG</a>
      <p><a href="/">Blogging about recent news and events in the cyber-space</a></p>
    </h1>
  </div>
  <ul class="navigator">
    <li><a href="/">Home</a></li>
    <li><a href="/post">Post</a></li>
    <li><a href="#About">Calendar</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
  <div class="main-content">
    <div class="ng-view"></div>
  </div>
  <script src="blogcontroller.js"></script>
  <script src="modules/authentication/services.js"></script>
  <script src="modules/authentication/controllers.js"></script>
  <script src="modules/post/controllers.js"></script>
  <div class="footer">
    <div class="container text-center">
      <p><b>Follow us on social media</b></p><br>
      <div class="social"><a href="http://www.something.com"><img src="/images/if_linkedin_2308061.png"></a><a href="http://www.something.com"><img src="/images/if_wordpress_2308140.png"></a><a href="http://www.something.com"> <img src="/images/if_twitter_2308045.png"></a><a href="http://www.something.com"><img src="/images/if_youtube2_2308040.png"></a><br><br><br><b>&copy;AfiDesign 2017 - All right reserved</b></div>
    </div>
  </div>
</body>
</html>
